anypoint_programs-master/anypoint_programs-master/consumesoap/src/main/wsdl/soap.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://main.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AdditionService" targetNamespace="http://main.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.com/" elementFormDefault="unqualified" targetNamespace="http://main.com/" version="1.0">
<xs:element name="addition" type="tns:addition"/>
<xs:element name="additionResponse" type="tns:additionResponse"/>
<xs:complexType name="addition">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="additionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="addition">
<wsdl:part element="tns:addition" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="additionResponse">
<wsdl:part element="tns:additionResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="Addition">
<wsdl:operation name="addition">
<wsdl:input message="tns:addition" name="addition"></wsdl:input>
<wsdl:output message="tns:additionResponse" name="additionResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AdditionServiceSoapBinding" type="tns:Addition">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="addition">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="addition">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="additionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AdditionService">
<wsdl:port binding="tns:AdditionServiceSoapBinding" name="AdditionPort">
<soap:address location="http://localhost:8081/add"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>